* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
a {
  color: #ffffff;
}
.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}
.header,
.portfolio {
  background: $color-background-dark;
  border-bottom: 6px solid #323746;
}
.copyright {
  content: "\00A9";
}
